.button__like {
  height: 19.13px;
  width: 20.76px;
  background: white url(../../../images/heartButton.svg) no-repeat center;
  border: none;
  align-self: center;
  margin-right: 5%;
}

.button__like_active {
  background: transparent url(../../../images/heartButtonLiked.svg) no-repeat center;
}