@import url(../profile/__image-container/profile__image-container.css);
@import url(../profile/__image/profile__image.css);
@import url(../profile/__text-container/profile__text-container.css);
@import url(../profile/__name/profile__name.css);
@import url(../profile/__title/profile__title.css);
@import url(../button/__edit/button__edit.css);
@import url(../button/__add/button__add.css);

.profile {
  width: 70%;
  display: flex;
  margin: 36.25px auto 0;
}

@media screen and (max-width: 1240px) {
  .profile {
    width: 80%;
  }
}

@media screen and (max-width: 1083px) {
  .profile {
    width: 90%;
  }
}

@media screen and (max-width: 831px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
    align-items: center;
  }
}