@import url(../header/__logo/header__logo.css);

.header {
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 45px auto 0;
  width: 70%; 
  justify-self: flex-start;
}

@media screen and (max-width: 831px) {
  .header {
    width: 100%;
  }