@import url(../modal/__container/modal__container.css);
@import url(../modal/__header/modal__header.css);
@import url(../modal/__form/modal__form.css);
@import url(../modal/__value/modal__value.css);
@import url(../button/__save/button__save.css);
@import url(../button/__close/button__close.css);


.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  justify-content: center;
  align-content: center;
  display: none;
}

.modal__open {
  display: flex;
}