.button__edit {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
  margin-top: 6.3%;
  margin-left: 24px;
}

@media screen and (max-width: 831px) {
  .button__edit {
   width: 18px;
   height: 18px;
   margin-top: 3%;
   margin-left: 17.25px;
  }
}

@media screen and (max-width: 650px) {
  .button__edit {
    margin-top: 4%;
  }
}

@media screen and (max-width: 450px) {
  .button__edit {
    margin-top: 5%;
  }
}

@media screen and (max-width: 380px) {
  .button__edit {
    margin-top: 7%;
  }
}