.button__edit {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
  align-self: flex-end;
  margin-right: 154px;
  margin-top: -6%;
}

@media screen and (max-width: 500px) {
  .button__edit {
   width: 18px;
   height: 18px;
   margin-right: 5%;
   margin-top: -13%;
   /* margin-bottom: 5%; */
  }
}