.profile__text-container {
  display: flex;
  width: 66.33%;
  margin: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 831px) {
  .profile__text-container {
    margin: 0;
    width: 90%;
    margin-top: 10.25px;
    justify-content: center;
  }
}